<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j2 Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Apache Log4j
   | website: https://logging.apache.org/log4j/2.x/manual/configuration.html
 -->

<Configuration name="AggDesigner" status="INFO" dest="out" monitorInterval="30">

    <Appenders>

        <!-- ================================= -->
        <!-- Preserve messages in a local file -->
        <!-- ================================= -->

        <!-- A time/date based rolling appender -->
        <RollingFile name="FILE" fileName="aggdesigner.log" filePattern="aggdesigner.log.%i">
            <PatternLayout>
                <Pattern>%d %-5p [%c] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1"/>
        </RollingFile>


        <!-- ============================== -->
        <!-- Append messages to the console -->
        <!-- ============================== -->
        <Console name="CONSOLE">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %-5p [%c{1}] %m%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->
    <Loggers>

        <Logger name="org.pentaho.ui.xul" level="WARN"/>

        <Logger name="org.pentaho.ui.xul.binding" level="WARN"/>

        <Logger name="org.pentaho.aggdes" level="INFO"/>

        <!-- ================ -->
        <!-- Setup the Root category -->
        <!-- ======================= -->

        <Root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>
