.project
.classpath
.settings
build
target
release.properties
pom.xml.releaseBackup
*.iml
.idea
bin
*.class
*.jar
*.war
*.ear
.DS_Store
aggdesigner.log
output_adventureworks.xml
output_foodmart.xml
output_foodmart_export.xml
